Repository RomanGatek/erp-system, pull requests merged in 2025-02, with the labels that each got.

#4 Features/enums
  backend/build.gradle.kts
  backend/src/main/java/cz/syntaxbro/erpsystem/configs/SecurityConfig.java
  backend/src/main/java/cz/syntaxbro/erpsystem/constants/Permissions.java
  backend/src/main/java/cz/syntaxbro/erpsystem/constants/Roles.java
  backend/src/main/java/cz/syntaxbro/erpsystem/controllers/ERPController.java
  backend/src/main/java/cz/syntaxbro/erpsystem/models/Permission.java
  backend/src/main/java/cz/syntaxbro/erpsystem/models/Role.java
  backend/src/main/java/cz/syntaxbro/erpsystem/models/User.java
  backend/src/main/java/cz/syntaxbro/erpsystem/models/dtos/UserDto.java
Labels: enhancement, FEATURE, backend, core

#3 fix: entities / data-loader
  backend/src/main/java/cz/syntaxbro/erpsystem/models/Permission.java
  backend/src/main/java/cz/syntaxbro/erpsystem/models/Role.java
  backend/src/main/java/cz/syntaxbro/erpsystem/models/User.java
  backend/src/main/java/cz/syntaxbro/erpsystem/repositories/RoleRepository.java
  backend/src/main/java/cz/syntaxbro/erpsystem/utils/DataLoader.java
  backend/src/test/java/cz/syntaxbro/erpsystem/utils/DataLoaderTest.java
Labels: backend, core

#5 Change/serviceandrepository
  backend/src/main/java/cz/syntaxbro/erpsystem/controllers/AdminController.java
  backend/src/main/java/cz/syntaxbro/erpsystem/controllers/AuthController.java
  backend/src/main/java/cz/syntaxbro/erpsystem/controllers/ManagerController.java
  backend/src/main/java/cz/syntaxbro/erpsystem/controllers/UserController.java
  backend/src/main/java/cz/syntaxbro/erpsystem/repositories/UserRepository.java
  backend/src/main/java/cz/syntaxbro/erpsystem/services/AuthService.java
  backend/src/main/java/cz/syntaxbro/erpsystem/services/impl/UserServiceImpl.java
Labels: backend

#43 Added and update Role
  backend/src/main/java/cz/syntaxbro/erpsystem/constants/Roles.java
  backend/src/main/java/cz/syntaxbro/erpsystem/controllers/RoleController.java
  backend/src/main/java/cz/syntaxbro/erpsystem/models/Role.java
  backend/src/main/java/cz/syntaxbro/erpsystem/repositories/RoleRepository.java
  backend/src/main/java/cz/syntaxbro/erpsystem/services/RoleService.java
  backend/src/main/java/cz/syntaxbro/erpsystem/services/impl/RoleServiceImpl.java
  backend/src/test/java/cz/syntaxbro/erpsystem/controllers/RoleControllerTest.java
  backend/src/test/java/cz/syntaxbro/erpsystem/services/impl/RoleServiceImplTest.java
Labels: backend

#46 initiaize frontend, with basic auth
  backend/src/test/java/cz/syntaxbro/ErpSystemApplicationTests.java
  frontend/bun.lock
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/assets/tailwind.css
  frontend/src/components/HelloWorld.vue
  frontend/src/components/Inventory.vue
  frontend/src/components/Navbar.vue
  frontend/src/components/Products.vue
  frontend/src/components/Users.vue
  frontend/src/main.js
  frontend/src/router.js
  frontend/src/services/api.js
  frontend/src/services/auth.js
  frontend/src/views/Auth.vue
  frontend/src/views/Home.vue
Labels: frontend

#51 Improve CRUD operations and fix hashing issues
  backend/src/main/java/cz/syntaxbro/erpsystem/configs/PasswordSecurity.java
  backend/src/main/java/cz/syntaxbro/erpsystem/controllers/UserController.java
  backend/src/main/java/cz/syntaxbro/erpsystem/exceptions/GlobalExceptionHandler.java
  backend/src/main/java/cz/syntaxbro/erpsystem/exceptions/UserNotFoundException.java
  backend/src/main/java/cz/syntaxbro/erpsystem/requests/CreateUserRequest.java
  backend/src/main/java/cz/syntaxbro/erpsystem/services/UserService.java
  backend/src/main/java/cz/syntaxbro/erpsystem/services/impl/AuthServiceImpl.java
  backend/src/main/java/cz/syntaxbro/erpsystem/services/impl/UserServiceImpl.java
  backend/src/test/java/cz/syntaxbro/erpsystem/controllers/UserControllerTest.java
  backend/src/test/java/cz/syntaxbro/erpsystem/exceptions/GlobalExceptionHandlerTest.java
  backend/src/test/java/cz/syntaxbro/erpsystem/exceptions/UserNotFoundExceptionTest.java
  backend/src/test/java/cz/syntaxbro/erpsystem/requests/CreateUserRequestTest.java
  backend/src/test/java/cz/syntaxbro/erpsystem/resources/services/UserServiceTest.java
  backend/src/test/java/cz/syntaxbro/erpsystem/services/impl/AuthServiceImplTest.java
  backend/src/test/java/cz/syntaxbro/erpsystem/services/impl/RoleServiceImplTest.java
  backend/src/test/java/cz/syntaxbro/erpsystem/services/impl/UserServiceImplTest.java
Labels: backend

#55 security-update/main
  backend/src/main/java/cz/syntaxbro/erpsystem/configs/PasswordSecurity.java
  backend/src/main/java/cz/syntaxbro/erpsystem/configs/SecurityConfig.java
  backend/src/main/java/cz/syntaxbro/erpsystem/services/impl/UserServiceImpl.java
  backend/src/main/java/cz/syntaxbro/erpsystem/utils/DataLoader.java
  backend/src/main/resources/application.properties
Labels: backend

#56 feature: add csrf token controller
  backend/src/main/java/cz/syntaxbro/erpsystem/configs/SecurityConfig.java
  backend/src/main/java/cz/syntaxbro/erpsystem/controllers/CsrfController.java
Labels: backend
