Repository RomanGatek/erp-system, pull requests merged in 2025-03, with the labels that each got.

#83 add new tests, change CorsConfig
  backend/src/main/java/cz/syntaxbro/erpsystem/security/CorsConfig.java
  backend/src/test/java/cz/syntaxbro/erpsystem/controllers/InventoryControllerTest.java
  backend/src/test/java/cz/syntaxbro/erpsystem/responses/JWTResponseTest.java
  backend/src/test/java/cz/syntaxbro/erpsystem/security/CorsConfigTest.java
  backend/src/test/java/cz/syntaxbro/erpsystem/security/FileStorageConfigTest.java
  backend/src/test/java/cz/syntaxbro/erpsystem/security/services/CustomUserDetailsServiceTest.java
  backend/src/test/java/cz/syntaxbro/erpsystem/security/services/CustomUserDetailsTest.java
Labels: backend

#82 Create Order - Item implementation (createOrder, cancelOrder)
  backend/src/main/java/cz/syntaxbro/erpsystem/controllers/OrderController.java
  backend/src/main/java/cz/syntaxbro/erpsystem/models/Order.java
  backend/src/main/java/cz/syntaxbro/erpsystem/services/InventoryService.java
  backend/src/main/java/cz/syntaxbro/erpsystem/services/OrderService.java
  backend/src/main/java/cz/syntaxbro/erpsystem/services/impl/InventoryServiceImpl.java
  backend/src/main/java/cz/syntaxbro/erpsystem/services/impl/OrderServiceImpl.java
  backend/src/test/java/cz/syntaxbro/erpsystem/controllers/OrderControllerTest.java
  backend/src/test/java/cz/syntaxbro/erpsystem/models/OrderTest.java
  backend/src/test/java/cz/syntaxbro/erpsystem/repositories/OrderRepositoryTest.java
  backend/src/test/java/cz/syntaxbro/erpsystem/requests/OrderRequestTest.java
  backend/src/test/java/cz/syntaxbro/erpsystem/services/InventoryServiceTest.java
  backend/src/test/java/cz/syntaxbro/erpsystem/services/OrderServiceTest.java
Labels: backend, testing

#105 Steve25/order update
  backend/src/main/java/cz/syntaxbro/erpsystem/controllers/OrderController.java
  backend/src/main/java/cz/syntaxbro/erpsystem/models/Order.java
  backend/src/main/java/cz/syntaxbro/erpsystem/requests/OrderUpdateRequest.java
  backend/src/main/java/cz/syntaxbro/erpsystem/services/OrderService.java
  backend/src/main/java/cz/syntaxbro/erpsystem/services/impl/OrderServiceImpl.java
  frontend/src/stores/orders.js
  frontend/src/views/Orders.vue
  frontend/src/views/Workflow.vue
Labels: FEATURE, backend, frontend

#102 Coffee/implements reports
  .fleet/run.json
  .run/backend-dev.run.xml
  .run/frontend-dev.run.xml
  backend/src/main/java/cz/syntaxbro/erpsystem/controllers/ReportsController.java
  backend/src/main/java/cz/syntaxbro/erpsystem/models/InventoryItem.java
  backend/src/main/java/cz/syntaxbro/erpsystem/models/Order.java
  backend/src/main/java/cz/syntaxbro/erpsystem/responses/reports/OrderApprovalReportDTO.java
  backend/src/main/java/cz/syntaxbro/erpsystem/responses/reports/ProductPurchaseReportDTO.java
  backend/src/main/java/cz/syntaxbro/erpsystem/responses/reports/ProductSalesReportDTO.java
  backend/src/main/java/cz/syntaxbro/erpsystem/responses/reports/SalesReportDTO.java
  backend/src/main/java/cz/syntaxbro/erpsystem/services/ReportService.java
  backend/src/main/java/cz/syntaxbro/erpsystem/services/impl/ReportServiceImpl.java
  backend/src/main/java/cz/syntaxbro/erpsystem/utils/ConsoleColors.java
  backend/src/main/java/cz/syntaxbro/erpsystem/utils/DataLoader.java
  backend/src/main/resources/application.properties
  backend/src/test/java/cz/syntaxbro/erpsystem/controllers/ReportsControllerTest.java
  backend/src/test/java/cz/syntaxbro/erpsystem/models/InventoryItemTest.java
  backend/src/test/java/cz/syntaxbro/erpsystem/repositories/OrderRepositoryTest.java
  backend/src/test/java/cz/syntaxbro/erpsystem/security/SecurityConfigTest.java
  backend/src/test/java/cz/syntaxbro/erpsystem/services/ReportServiceImplTest.java
Labels: FEATURE, backend, testing
